<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mesalabs.on.workshop">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application android:name="com.mesalabs.on.workshop.OnWorkshopApp" android:allowBackup="false" android:hardwareAccelerated="true" android:persistent="true" android:icon="@mipmap/ic_launcher" android:label="@string/mesa_onworkshop" android:supportsRtl="true" android:theme="@style/mesa_AppStyle.DayNight.NoActionBar">

        <meta-data android:name="SamsungBasicInteraction" android:value="SEP10"/>
        <meta-data android:name="com.samsung.android.icon_container.has_icon_container" android:value="true"/>
        <meta-data android:name="com.samsung.android.multidisplay.keep_process_alive" android:value="true"/>
        <meta-data android:name="com.samsung.android.sdk.multiwindow.enable" android:value="true"/>
        <meta-data android:name="android.max_aspect" android:value="2.4"/>

        <!-- Main Activity -->
        <activity android:name="com.mesalabs.on.workshop.activity.tb.HomeActivity" android:theme="@style/mesa_TB_AppStyle.DayNight" android:hardwareAccelerated="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize" android:launchMode="singleTop" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Settings Activity -->
        <activity android:name=".activity.settings.SettingsActivity" android:theme="@style/mesa_TB_AppStyle.DayNight" android:hardwareAccelerated="true" android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.sec.android.intent.action.SEC_APPLICATION_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.sec.android.intent.category.SEC_APPLICATION_SETTINGS"/>
            </intent-filter>
        </activity>

        <!-- About Page Activity -->
        <activity android:name="com.mesalabs.on.workshop.activity.aboutpage.AboutActivity" android:theme="@style/mesa_AboutActivity_AppStyle.DayNight" android:hardwareAccelerated="true" android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:taskAffinity="" />
        <!-- Credits Activity -->
        <activity android:name="com.mesalabs.on.workshop.activity.aboutpage.CreditsActivity" android:theme="@style/mesa_TB_AppStyle.DayNight" android:hardwareAccelerated="true" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- Open Source License Activity -->
        <activity android:name="com.mesalabs.on.workshop.activity.aboutpage.OpenSourceLicenseActivity" android:theme="@style/mesa_TB_AppStyle.DayNight" android:hardwareAccelerated="true" android:configChanges="orientation|screenSize" android:launchMode="singleTop" />

        <provider
            android:name="com.mesalabs.cerberus.update.content.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mesa_provider_paths"/>
        </provider>

    </application>

</manifest>
